/* Styles for resize editor bars and parts. */
.resizer[data-direction="horizontal"] {
    background-color: #cbcbe0;
    cursor: ew-resize;
    /*height: 100vh;*/
    width: 3px;
}
.resizer[data-direction="vertical"] {
    background-color: #cbcbe0;
    cursor: ns-resize;
    height: 3px;
    width: 100%;
}
.flex-1 {
 flex:1 1 0%
}
.flex {
 display:flex
}
.flex-col {
 flex-direction:column
}
.flex-col-reverse {
 flex-direction:column-reverse
}
.flex-wrap {
 flex-wrap:wrap
}
.flex-wrap-reverse {
 flex-wrap:wrap-reverse
}
