/* full size desktop browsers */
html{font-size:100%;} #in{width:898px;} #info{width:300px;display:inline;} #page{width:1200px;left:50%;margin-left:-600px;}

/* bigger desktop browsers */
@media(max-width:76em){html{font-size: 70%;} #in{width:598px;} #info{width:300px;display:inline;} #page{width:900px;left:50%;margin-left:-450px;}}

/* landscape phone and portrait tablet */
@media(max-width:56em){html{font-size: 45%;} #in{width:358px;} #info{width:280px;display:inline;} #page{width:640px;left:0;margin:0;}}

/* portrait phone (< 480px) */
@media screen and (max-width:35em) {html{font-size: 45%;} #in{width:358px;} #info{width:0;display:none;} #page{width:360px;left:0;margin:0;}}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: Fixed, monospace;
  color: white;
  background-color: #000000;
}

div#page {
  position:absolute;
  top:0;
  bottom:0;
/*  margin-left:-25%;*/
/*  left:50%;*/
  padding: 0px;
/*  width: 800px;
  height: 100%; */
  font-family: Fixed, monospace;
}

div#out {
  margin: 0px;
  padding: 0px;
  float:left;
  overflow-y: scroll;
 /* overflow-x: scroll; */
  border: 1px solid gray; 
  white-space:pre;
}

span.out {
  white-space:pre;
  word-wrap: break-word;
  line-height:100%;
  font-family: Fixed, monospace;
}

div#info {
  position:absolute;
  top:0;
  bottom:0px;
  right:0;
/*  width:300px;*/
  padding: 0;
  color: black;
/*  white-space:pre; */
  font-size:small;
  line-height: 1.0;
/*  background-color:white;
  border-color: black;
  border-style: dashed;
  border-width: 2px; */
  background-color:#eeffaa;
  border-color: #eeffaa;
  border-style: solid;
  border-width: 2px;
  font-family:Tahoma, Geneva, sans-serif;
}

span.info_heading {
  margin:0 auto;
  display:table;
}

span.info {
  word-wrap: break-word;
  padding: 0px 4px;
}

div#in {
  position: fixed;
  bottom: 0px;
  /*width: 100%;*/
  padding: 0px;
  margin: 0px;
}

input#cmd {
  font-family: Fixed, monospace;
  padding: 5px;
  margin: 0px;
}

button.cmd {
  font-family: Fixed, monospace;
  width: 80px;
  padding: 5px;
  margin: 0px;
}

.rTbl        { display: table; }
.rTblRow     { display: table-row; }
.rTblHeading { display: table-header-group; }
.rTblBody    { display: table-row-group; }
.rTblFoot    { display: table-footer-group; }
.rTblCell, .rTblHead  { display: table-cell; }
