.container--tabs {
    margin: 0px;
}
.container--tabs .nav-tabs {
    float: left;
    width: auto;
    margin: 0;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
    padding-left: 0px;
}
.container--tabs .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    background-color: whitesmoke;
    float: left;
    margin-right: 2px;
    line-height: 1.42857143;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.container--tabs .nav-tabs > li > a {
    color: #454545;
    text-decoration: none;
}
.container--tabs .nav-tabs > li:hover {
    border-color: #eee #eee #ddd;
    background-color: white;
}
.container--tabs .nav-tabs > li.active {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.container--tabs .nav-tabs > li.active > a, 
.container--tabs .nav-tabs > li.active > a:hover, 
.container--tabs .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
}
.container--tabs .tab-content {
    float: left;
    height: calc(100% - 40px);
    width: 100%;
}
.container--tabs .tab-content > .tab-pane {
    display: none;
    padding: 0 0 0 1px;
    font-size: 1.1em;
}
.container--tabs .tab-content > .tab-pane.active {
    display: block;
    /*padding: 2.5% 3.5%;*/
    background-color: #efefef;
}
.container--tabs .tab-content > .active {
    display: block;
}
