/* max desktop browsers - bigger doesn't make much sense for this client */
html{font-size:12pt;} #in{width:1198px;} #info{width:300px;display:inline;} #page{width:1500px;left:50%;margin-left:-750px;}

/* full size desktop browsers (<= 1536px) */
@media(max-width:96em){html{font-size:12pt;} #in{width:898px;} #info{width:300px;display:inline;} #page{width:1200px;left:50%;margin-left:-600px;}}

/* bigger desktop browsers (<= 1216px) */
@media(max-width:76em){html{font-size: 8.4pt;} #in{width:598px;} #info{width:300px;display:inline;} #page{width:900px;left:50%;margin-left:-450px;}}

/* landscape phone and portrait tablet (<= 896px) */
@media(max-width:56em){html{font-size: 5.4pt;} #in{width:358px;} #info{width:280px;display:inline;} #page{width:640px;left:30%;margin-left:-170px;}}

/* portrait phone (<= 560px) */
@media screen and (max-width:35em) {html{font-size: 5.4pt;} #in{width:358px;} #info{width:0;display:none;} #page{width:360px;left:0;margin:0;}}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: Fixed, monospace;
  color: white;
  background-color: #000000;
}

div#page {
  position:absolute;
  top:0;
  bottom:0;
/*  margin-left:-25%;*/
/*  left:50%;*/
  padding: 0px;
/*  width: 800px;
  height: 100%; */
}

div#out {
  margin: 0px;
  padding: 0px;
  float:left;
  overflow-x: hidden;
  overflow-y: scroll;
 /* overflow-x: scroll; */
  border: 0px solid gray; 
  white-space:pre-wrap;
}

span.out {
  white-space:pre;
  word-wrap: break-word;
  line-height:100%;
}

div#info {
  position:absolute;
  top:0;
  bottom:0px;
  right:0;
/*  width:300px;*/
  padding: 0;
  color: black;
/*  white-space:pre; */
  font-size:small;
  line-height: 1.0;
/*  background-color:white;
  border-color: black;
  border-style: dashed;
  border-width: 2px; */
  background-color:#ddb;
  border-color: #ddb;
  border-style: solid;
  border-width: 1px;
  font-family:Tahoma, Geneva, sans-serif;
}

span.info_heading {
  margin:0 auto;
  display:table;
}

span.info {
  word-wrap: break-word;
  padding: 0px 4px;
}

div#in {
  font-size:inherit;
  position: fixed;
  bottom: 0px;
  border-top-width: 1px;
  border-top-style: dashed;
  padding: 0.2em 0px 0px 0px;
  margin: 1px 0px 2px 0px;
}

div#prompt {
  width:auto;
  padding:5px 0px 5px 0px;
  margin:0px;
  float:left;
  border: solid 0px transparent;
  color:inherit;
  background-color:transparent;
  white-space: pre;
}

textarea#cmd {
  overflow:hidden;
  resize:none;
  border: none;
  width:100%;
  font-size:inherit;
  padding: 5px 5px 5px 0px;
  margin: 0px;
  color:inherit;
  background-color:transparent;
}

input#pwd {
  overflow:hidden;
  border: none;
  width:100%;
  font-size:inherit;
  padding: 5px 5px 5px 0px;
  padding-bottom:4.6px;
  margin: 0px;
  color:inherit;
  background-color:transparent;
}

.cmdwrapper
{
  border: none;
  width:auto;
  height:auto;
  font-size:inherit;
  line-height:inherit;
  margin:0;
  padding:0;
}

button.cmd {
  font-family:inherit;
  font-size:inherit;
  width: 80px;
  border: none;
  height: auto;
  padding: 5px;
  margin: 0px 0px 0px 2px;
  float: right;
}

button:hover {background-color: #CEF}

.rTbl        { display: table; }
.rTblRow     { display: table-row; }
.rTblHeading { display: table-header-group; }
.rTblBody    { display: table-row-group; }
.rTblFoot    { display: table-footer-group; }
.rTblCell, .rTblHead  { display: table-cell; }
