/* Modified dropdown (or drop-up) menu CSS - see https://www.w3schools.com/howto/howto_js_dropdown.asp */
.dropbtn {
  font-family: Fixed, monospace;
  border:0;
  width: 40px;
  height: 1.95em;
  margin: 0px 0px 0px 2px;
  padding: 5px;
  cursor: pointer;
}

/*
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}
*/

.dropdown {
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  min-width: auto;
  width: 80px;
  z-index: 1;
  right:0%; /* pop-left */
  bottom:100%; /* pop-up */
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.dropshow {display:block;}
