/* Modified dropdown (or drop-up) menu CSS - see https://www.w3schools.com/howto/howto_js_dropdown.asp */
.dropbtn {
  font-family: inherit;
  font-size: inherit;
  border:none;
  width: 40px;
  height: auto;
  margin: 0px 0px 0px 2px;
  padding: 5px;
  cursor: pointer;
}

button.drp {
  font-family:inherit;
  /*font-size:inherit;*/
  width: 100px;
  border: none;
  background-color: #fff7;
  color: #0007;
  height:1.95em;
  padding: 5px;
  margin: 0px 0px 2px 0px;
}

button.drp span.iconsettings {
    background: url(../images/settings-12.png) no-repeat;
    float: left;
    margin-left: 5px;
    width: 12px;
    height: 12px;
}

button.drp span.iconexport {
    background: url(../images/download-12.png) no-repeat;
    float: left;
    margin-left: 5px;
    width: 12px;
    height: 12px;
}

button.drp span.iconimport {
    background: url(../images/upload-12.png) no-repeat;
    float: left;
    margin-left: 5px;
    width: 12px;
    height: 12px;
}

button.drp span.iconscreen {
    background: url(../images/screen-12.png) no-repeat;
    float: left;
    margin-left: 5px;
    width: 12px;
    height: 12px;
}

button.drp span.iconpalette {
    background: url(../images/palette-12.png) no-repeat;
    float: left;
    margin-left: 5px;
    width: 12px;
    height: 12px;
}

.drp:hover {background-color: #CEF7;}

.nohover:hover {background-color: transparent;}

.dropdown {
  font-family:inherit;
  font-size:inherit;
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  min-width: auto;
  width: 100px;
  z-index: 1;
}

div#mainDropdown.dropdown-content {
  right:2ch;   /* pop-left */
  bottom:130%; /* pop-up */
}

div#settingsDropdown.dropdown-content {
  right:calc(102px + 2ch); /* pop-left */
  bottom:130%;             /* pop-up */
  width: 140px;
}
div#settingsDropdown.dropdown-content button.drp {
  width: 140px;
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.dropshow {display:block;}
