/* Modified dropdown (or drop-up) menu CSS - see https://www.w3schools.com/howto/howto_js_dropdown.asp */
.dropbtn {
  font-family: inherit;
  font-size: inherit;
  border:none;
  width: 40px;
  height: auto;
  margin: 0px 0px 0px 2px;
  padding: 5px;
  cursor: pointer;
}

button.drp {
  font-family:inherit;
  /*font-size:inherit;*/
  width: 100px;
  border: none;
  background-color: #ddd7;
  color: #0007;
  height:1.95em;
  padding: 5px;
  margin: 0px 0px 2px 0px;
}

.drp:hover {background-color: #CEF7;}

.nohover:hover {background-color: transparent;}

.dropdown {
  font-family:inherit;
  font-size:inherit;
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  min-width: auto;
  width: 100px;
  z-index: 1;
  right:2ch; /* pop-left */
  bottom:130%; /* pop-up */
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.dropshow {display:block;}
